.card {
  width: 18rem;
}
.card img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: linear-gradient(to right, #141e30, #243b55);
  color: white;
}
.card {
  width: 18rem;
  margin-bottom: 30px;
  text-align: center;
}
.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.card-text {
  margin-bottom: 0.5rem;
  color: black;
}

.card-body {
  color: black;
}
.card-body .anno {
  color: grey;
  font-size: 0.8em;
}
